chroma_db/

.ipynb_checkpoints/
*.egg-info/
dist/
.DS_Store

# Ignore virtual environment
venvrag/
.env/

# Python cache
__pycache__/
*.pyc

# OS / editor files
.DS_Store
.vscode/

# Logs / temp
*.log
*.tmp

# Large data / PDFs (optional)
*.pdf